html {
    font-size: 16px;
}

body {
    padding: 10px;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navSection {
    font-family: 'Abril Fatface', cursive;
}

h2 {
    font-family: 'Vollkorn', serif;
    font-size: 1.5rem !important;
}

.indexActiveListings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logInAndOut {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#itemGeneralInfo {
    display: flex;
}

#bidForm {
    display: block;
}

.info {
    color: red;
}

.success {
    color: green;
}