body {
    padding: 10px;
}

#itemGeneralInfo {
    display: flex;
}

#bidForm {
    display: block;
}

.info {
    background-color: rgba(250, 0, 0, 0.5);
}

.success {
    background-color: rgba(0, 250, 0, 0.5);
}

/*#newListingForm {
    margin-left: 3%;
}*/
