body {
    padding: 10px;
}

#itemGeneralInfo {
    display: flex;
}

#bidForm {
    display: block;
}

.info {
    color: red;
}

.success {
    color: green;
}

/*#newListingForm {
    margin-left: 3%;
}*/
