{% extends "auctions/layout.html" %}

{% block body %} 
    <section class="indexActiveListings">
        <form action="{% url 'inactive' %}" method="POST">
            {% csrf_token %}
            <label class="p-2" for="categoryFormId">Filter By Category: </label>
            {{ form.category|safe }} 
            <input class="inline-block px-6 py-2.5 bg-blue-400 text-white font-medium text-xs leading-tight uppercase 
            rounded shadow-md hover:bg-blue-500 hover:shadow-lg focus:bg-blue-500 focus:shadow-lg focus:outline-none 
            focus:ring-0 active:bg-blue-600 active:shadow-lg transition duration-150 ease-in-out"
            type="submit" value="Filter" name="queryCategory">
        </form>
        <ul class="flex flex-col p-2 ml-2">
            <h2>Closed Listings</h2>
            {% for item in listing %}
                {% if item.isActive == False %}
                <a class="hover:no-underline hover:text-inherit hover:opacity-75" href="{{ item.itemTitle }}">
                    <div class="flex flex-col md:flex-row md:max-w-2xl rounded-lg bg-grey shadow-lg p-2">
                        {% if item.listingImg == "" %}
                        <img src="" alt="" hidden="true">
                        {% else %}
                        <img src="{{ item.listingImg }}" alt="Listing Image"
                        class="w-full max-w-xs h-96 md:h-auto object-cover md:w-48 rounded-t-lg md:rounded-none md:rounded-l-lg">
                        {% endif %}
                        <div class="p-6 flex flex-col justify-start">
                            <li><h2 class="text-gray-900 text-xl font-medium mb-2">{{ item.itemTitle }}</h2></li>
                            <p>Initial Price: USD$<b><i>{{ item.initialBid }}</i></b></p>
                            <p class="text-gray-700 text-base mb-4"><i>{{ item.itemDescription }}</i></p>
                            <p class="text-gray-600 text-xs">{{ item.date }}</p>
                        </div>
                    </div>
                </a>
                {% endif %}
            {% endfor %}
        </ul>
    </section>
{% endblock %}