{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <ul>
        {% for item in listing %}
            <li><h2>{{ item.itemTitle }}</h2></li>
            <p>Current Bid: USD$<b><i>{{ item.initialBid }}</i></b></p>
            <p></p><i>{{ item.itemDescription }}</i></p>
            {% if item.listingImg == "" %}
            <img src="" alt="" hidden="true">
            {% else %}
            <img src="{{ item.listingImg }}" alt="Listing Image" style="max-width: 300px; height: auto;">
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}