{% extends "auctions/layout.html" %}

{% block body %}
{% for attribute in item %}
<div id="itemGeneralInfo">
    <div class="mainImg">
        <img src="{{ attribute.listingImg }}" alt="Auction item image" style="max-width: 450px; height: auto;">
    </div>
    <div class="info">
        <h3>{{ attribute.itemTitle }}</h3>
        <!--Maybe use form for this-->
        <form action="{% url 'watchlist' %}" method="post">
            {% csrf_token %}
            <input type="hidden" id="title" name="title" value="{{ attribute.itemTitle }}">
            <input type="submit" id="addWish" value="+ Add to wishlist" >   
            {% for item in watchlistStatus%}
                {% if item.itemTitle == attribute.itemTitle %}
                    <input type="submit" value="- Remove from wishlist" >
                    <style>
                        #addWish {
                            display: none;
                        }
                    </style>
                {% endif %}
            {% endfor %}
        </form>
        {% if currentBid > attribute.initialBid %}
            <p>{{ currentBid }}</p>
        {% else %}
            <p>{{ attribute.initialBid }}</p>
        {% endif %}
        <button onclick='collapseBox()' type="button">Place a bid</button>
        <input type="number" class="form-control" id="bidForm" placeholder="USD" label="Amount" title="Bid">
        <script>
            const collapseBox = () => {
                inputForm = document.getElementById('bidForm');
                inputForm.style.display === 'none' ? inputForm.style.display = 'block' : inputForm.style.display = 'none'
            }
        </script>
        <br>
        <p>Owner: {{ attribute.user }}</p>
        <p>Category: {{ attribute.get_category_display }}</p>
    </div>
</div>
<div class="itemDescription">
    <p><b>Date listed:</b> {{ attribute.date }}</p>
    <p>{{ attribute.itemDescription }}</p>
</div>
{% endfor %}
<div class="comments"></div>

{% endblock %}